obj/
lib/
alire/
config/
lib/
alire/
config/
save/
new_configuration.cfg
*.txt
*.cswi
*.save
message
/obj/
/lib/
/alire/
/config/
/*save/
ada_lib_gnoga-not_used/
alire-toml-save
compile.sh
list
ada_lib_tests/alire-save
ada_lib_tests/alire.toml-save
/obj/
/lib/
/alire/
/config/
/obj/
/lib/
/alire/
/config/
