/obj/
/bin/
/alire/
/config/
/obj/
/bin/
/alire/
/config/
/obj/
/bin/
/alire/
/config/
/obj/
/bin/
/alire/
/config/
/obj/
/bin/
/alire/
/config/
/obj/
/bin/
/alire/
/config/
/obj/
/lib/
/alire/
/config/
/obj/
/lib/
/alire/
/config/
/obj/
/lib/
/alire/
/config/
/obj/
/lib/
/alire/
/config/
/obj/
/lib/
/alire/
/config/
/obj/
/lib/
/alire/
/config/
/obj/
/lib/
/alire/
/config/
/obj/
/lib/
/alire/
/config/
/obj/
/lib/
/alire/
/config/
